body{
    font-family: Verdana,Geneva,Arial;
    font-size:12px;
	color: royalblue;
	color: rgb(65, 105, 225);
	color: #4169E1CC;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
    background-color: rgb(62,56,65);
}
h1,h2{
    color: #CC6600;
    text-decoration: underline;
}
h1{
    font-size:26.4px;
}
h2{
    font-size:15.6px;
    font-weight: normal;
}
blockquote{
    font-style: italic;
}
p {
    font-style: italic;
}

