body{
    font-family: Verdana,Geneva,Arial;
    font-size:12px;
}
h1,h2{
    color: #CC6600;
    text-decoration: underline;
}
h1{
    font-size:26.4px;
}
h2{
    font-size:15.6px;
    font-weight: normal;
}
blockquote{
    font-style: italic;
}


